<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            background-color: rgb(33, 150, 243);
            padding: 10px;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            font-size: 25px;
            text-align: center;
        }
    </style>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head>

<!-- <body>
    <h1>{{ .Title }}</h1>
    <div class="grid-container">
        {{range .List}}
        <div class="grid-item">
            {{.Name}}
        </div>
        {{end}}
    </div>
</body> -->

<body>
    <h1>{{ .Title }}</h1>
    <table id="table" class="display">
        <thead>
            <th>Name</th>
            <th>Rank</th>
            <th>Symbol</th>
        </thead>
        <tbody>
            {{range .List}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.rank}}</td>
                <td>{{.Symbol}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <script>$(document).ready(function() {
            $('#table').DataTable();
        } );</script>  
</body>

</html>
